extends layout

block content
    div(class='container')
        h1= title
        p Edit Data Mahasiswa :
        br
        form(method='post')
            .form-group
                label(for='nama') Nama
                input#nama.form-control(value=data.nama name='nama' type='text' placeholder="Nama")
            .form-group
                label(for='nim') NIM
                input#nama.form-control(value=data.nim name='nim' type='text' placeholder="NIM")
            .form-group
                label(for='jurusan') Jurusan
                input#nama.form-control(value=data.jurusan name='jurusan' type='text' placeholder="Jurusan")
            button.btn.btn-primary(type='submit') Simpan

